## W6-api-sentiment-project

1. Create connection with SQL db.
2. Import friends df.
3. Extract sample from df. 
4. Insert data in SQL doing checking first if it has already been done for each table. 
5. Endpoint post: insert and delete.

In [13]:
import sqlalchemy as alch
import os
import dotenv
from getpass import getpass 
dotenv.load_dotenv()
import pandas as pd
import sys

In [14]:
sys.path.append('../')

In [15]:
import src.sql_tools as st

#### 1. Create connection with SQL db.

In [16]:
passw = getpass("dame la pass ")

dame la pass ········

In [17]:
dbName = "project_friends"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [18]:
engine.execute("INSERT INTO `project_friends`.`Season` (`SeasonNumber`) VALUES ('1');")

#### 2. Import friends df.

In [8]:
data_friends = pd.read_csv("../data/friends_clean.csv")

In [9]:
data_friends.head()

,Unnamed: 0,season,episode_number,episode_title,quote,author
0,0,1,1,Monica Gets A Roommate,There`s nothing to tell! He`s just some guy I ...,Monica
1,1,1,1,Monica Gets A Roommate,"C`mon, you`re going out with the guy! There`s ...",Joey
2,2,1,1,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",Chandler
3,3,1,1,Monica Gets A Roommate,"Wait, does he eat chalk?",Phoebe
4,4,1,1,Monica Gets A Roommate,"Just, `cause, I don`t want her to go through w...",Phoebe

#### 3. Extract sample from df.

In [10]:
friends_sample = data_friends.sample(2000)

In [11]:
friends_sample.head()

,Unnamed: 0,season,episode_number,episode_title,quote,author
26977,37693,7,6,The Nap Partners,"First of all um, I love you both so much and y...",Monica
35632,48022,8,21,The Cooking Class,"Yeah, just dont get your hopes up.",Phoebe
34671,46849,8,16,Joey Tells Rachel,Oh sure. Older?,Rachel
27258,37983,7,7,Ross`s Library Book,Lie!!! How hard is that?! The checks in the m...,Chandler
20426,30115,6,1,Vegas,Hey!,Ross

In [12]:
#friends_sample.to_csv('../data/friends_sample.csv')

In [13]:
!pwd

/Users/awalsh/IRONHACK/PROYECTOS/W6-api-sentiment-project/Notebooks

In [14]:
friends_sample = pd.read_csv('../data/friends_sample.csv')

In [15]:
authors = list(data_friends.author.unique())
print(authors)

['Monica', 'Joey', 'Chandler', 'Phoebe', 'Ross', 'Rachel']

#### 4. Insert data in SQL doing checking first if it has already been done for each table.

In [16]:
#To check if author has already been inserted. 
st.check("author","Rachel")

True

In [17]:
#To check if episode_title has already been inserted. 
st.check("episode_title", "The Cat")

True

In [18]:
#To check if quote has already been inserted. 
st.check("quote", "Hi!")

True

In [19]:
#To insert authors: Joey, Phoebe, Monica...
st.insertAuthor(authors)

In [22]:
#To check if seasons has already been inserted.
st.check_numbers('season',1)

True

In [21]:
seasons_values = list(friends_sample.season.unique())

In [22]:
seasons = [1,2,3,4,5,6,7,8,9,10]

In [27]:
st.insertSeason(seasons)

In [29]:
st.insertEpisode(friends_sample)

In [30]:
st.gimmeId('author', 'Ross')

5

In [31]:
st.gimmeId('episode_title', 'Rachel Smokes')

88

In [33]:
for index, row in friends_sample.iterrows():
    st.insertQuote(row)

#### 5. ENDPOINT POST

#### 5.1 Insert

In [3]:
import requests

In [41]:
insertar = {"episode" : 1, "character" : 1, "quote": "Hello"}

In [42]:
requests.post("http://127.0.0.1:5000/nuevafrase", data=insertar)

#### 5.2 Delete

In [9]:
insertar2 = {"texto": "Hello"}

In [10]:
requests.post("http://127.0.0.1:5000/borrarfrase", data=insertar2)