In [1]:
import pandas as pd

In [2]:
!pwd

/Users/awalsh/IRONHACK/PROYECTOS/W6-api-sentiment-project/Notebooks

In [3]:
df = pd.read_csv("../data/friends.csv")

In [4]:
df.head()

,author,episode_number,episode_title,quote,quote_order,season
0,Monica,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,0.0,1.0
1,Joey,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",1.0,1.0
2,Chandler,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",2.0,1.0
3,Phoebe,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",3.0,1.0
4,Phoebe,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",4.0,1.0

In [5]:
friends = df[["season", "episode_number","episode_title","quote","author"]]

In [6]:
friends.shape

(60291, 5)

In [1]:
#list(friends.author.unique())

In [8]:
#dict(friends.author.value_counts()).keys()

In [9]:
list_ = list(friends.author.unique())
#print(list_)

In [10]:
def mayus(string):
    return string.capitalize()

In [11]:
mayus("ana")

'Ana'

In [12]:
friends.author.apply(mayus)

0          Monica
1            Joey
2        Chandler
3          Phoebe
4          Phoebe
           ...
60286    Chandler
60287      Rachel
60288      Monica
60289      Rachel
60290    Chandler
Name: author, Length: 60291, dtype: object

In [13]:
friends.head()

,season,episode_number,episode_title,quote,author
0,1.0,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,Monica
1,1.0,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",Joey
2,1.0,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",Chandler
3,1.0,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",Phoebe
4,1.0,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",Phoebe

In [14]:
#df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]
data = friends.loc[(friends['author']== 'Monica') & (friends['author']== 'Rachel') & (friends['author']== 'Phoebe')
& (friends['author']== 'Ross') & (friends['author']== 'Chandler') & (friends['author']== 'Joey')]

In [15]:
names = ['Monica', 'Rachel', 'Phoebe', 'Chandler', 'Joey', 'Ross']

In [16]:
data = friends.loc[friends['author'].isin(names)]

In [17]:
data

,season,episode_number,episode_title,quote,author
0,1.0,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,Monica
1,1.0,1.0,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",Joey
2,1.0,1.0,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",Chandler
3,1.0,1.0,Monica Gets A Roommate,"Wait, does he eat chalk?",Phoebe
4,1.0,1.0,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",Phoebe
...,...,...,...,...,...
60286,10.0,17.0,"The Last One, Part I & II","Oh, it's gonna be okay.",Chandler
60287,10.0,17.0,"The Last One, Part I & II",(crying) Do you guys have to go to the new hou...,Rachel
60288,10.0,17.0,"The Last One, Part I & II",We got some time.,Monica
60289,10.0,17.0,"The Last One, Part I & II","Okay, should we get some coffee?",Rachel
60290,10.0,17.0,"The Last One, Part I & II",Sure. Where?,Chandler

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45482 entries, 0 to 60290
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   season          45482 non-null  float64
 1   episode_number  45482 non-null  float64
 2   episode_title   45482 non-null  object
 3   quote           45482 non-null  object
 4   author          45482 non-null  object
dtypes: float64(2), object(3)
memory usage: 2.1+ MB

In [19]:
data["episode_number"] = data["episode_number"].astype(dtype="int64")

<ipython-input-19-ea07cc9678e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["episode_number"] = data["episode_number"].astype(dtype="int64")

In [20]:
data["season"] = data["season"].astype(dtype="int64")

<ipython-input-20-8d737d00e291>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["season"] = data["season"].astype(dtype="int64")

In [21]:
data.shape

(45482, 5)

In [22]:
data.head()

,season,episode_number,episode_title,quote,author
0,1,1,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,Monica
1,1,1,Monica Gets A Roommate,"C'mon, you're going out with the guy! There's ...",Joey
2,1,1,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",Chandler
3,1,1,Monica Gets A Roommate,"Wait, does he eat chalk?",Phoebe
4,1,1,Monica Gets A Roommate,"Just, 'cause, I don't want her to go through w...",Phoebe

In [23]:
authors = list(data.author.unique())
print(authors)

['Monica', 'Joey', 'Chandler', 'Phoebe', 'Ross', 'Rachel']

In [24]:
def sustituye(x):
    x = str(x).replace('"', "`")
    x = str(x).replace("'", "`")
    return x

In [25]:
data["quote"] = data.quote.apply(sustituye)

<ipython-input-25-ba10d9e05ba6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["quote"] = data.quote.apply(sustituye)

In [26]:
data["episode_title"] = data.episode_title.apply(sustituye)

<ipython-input-26-388515b818dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["episode_title"] = data.episode_title.apply(sustituye)

In [27]:
data

,season,episode_number,episode_title,quote,author
0,1,1,Monica Gets A Roommate,There`s nothing to tell! He`s just some guy I ...,Monica
1,1,1,Monica Gets A Roommate,"C`mon, you`re going out with the guy! There`s ...",Joey
2,1,1,Monica Gets A Roommate,"All right Joey, be nice. So does he have a hum...",Chandler
3,1,1,Monica Gets A Roommate,"Wait, does he eat chalk?",Phoebe
4,1,1,Monica Gets A Roommate,"Just, `cause, I don`t want her to go through w...",Phoebe
...,...,...,...,...,...
60286,10,17,"The Last One, Part I & II","Oh, it`s gonna be okay.",Chandler
60287,10,17,"The Last One, Part I & II",(crying) Do you guys have to go to the new hou...,Rachel
60288,10,17,"The Last One, Part I & II",We got some time.,Monica
60289,10,17,"The Last One, Part I & II","Okay, should we get some coffee?",Rachel
60290,10,17,"The Last One, Part I & II",Sure. Where?,Chandler

In [28]:
data.to_csv('../data/friends_clean.csv')